<section class="game-section pt150 pb85">
    <div class="container">
        <div class="row">
            <div class="title-bl text-center wow fadeIn" data-wow-duration="2s">
                <div class="title color-white">
                    UpComing Games:
                </div>
                <div class="subtitle">
                    Coming soon
                </div>
            </div>
            <div class="tm-tabs tabs mt70">
                <div class="tabs-nav">
                    <ul class="list-inline nav nav-tabs tabs-slider">
                        <li class="active col-lg-3 col-md-3">
                            <a href="#tab-item-1" data-toggle="tab">
                                <div class="img-wrap">
                                    <img src="{{ asset('build/images/games/realm-royale-logo.png') }}" alt="">
                                </div>
                                <div class="nav-header-bl mt25">
                                    <div class="nav-title color-white">
                                        Fifal 2018w
                                    </div>
                                    <div class="date">
                                        Mar 18-20, 2018
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3">
                            <a href="#tab-item-2" data-toggle="tab">
                                <div class="img-wrap">
                                    <img src="{{ asset('build/images/games/pubg-logo.png') }}" alt="">
                                </div>
                                <div class="nav-header-bl mt25">
                                    <div class="nav-title color-white">
                                        Mix Combination
                                    </div>
                                    <div class="date">
                                        Apr 25-27, 2018
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3">
                            <a href="#tab-item-3" data-toggle="tab">
                                <div class="img-wrap">
                                    <img src="{{ asset('build/images/games/game-img-3.jpg') }}" alt="">
                                </div>
                                <div class="nav-header-bl mt25">
                                    <div class="nav-title color-white">
                                        Forza Jacson
                                    </div>
                                    <div class="date">
                                        Mar 11, 2019
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3">
                            <a href="#tab-item-4" data-toggle="tab">
                                <div class="img-wrap">
                                    <img src="{{ asset('build/images/games/game-img-4.jpg') }}" alt="">
                                </div>
                                <div class="nav-header-bl mt25">
                                    <div class="nav-title color-white">
                                        NO MAN’S SKY
                                    </div>
                                    <div class="date">
                                        Sept 15, 2019
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-3 col-md-3">
                            <a href="#tab-item-5" data-toggle="tab">
                                <div class="img-wrap">
                                    <img src="{{ asset('build/images/games/game-img-4.jpg') }}" alt="">
                                </div>
                                <div class="nav-header-bl mt25">
                                    <div class="nav-title color-white">
                                        NO MAN’S SKY 2
                                    </div>
                                    <div class="date">
                                        Sept 15, 2019
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content relative mt90">
                    <div class="tab-pane fade active in text-left clearfix" id="tab-item-1">
                        <div class="tab-info col-lg-6 col-md-12 col-sm-12 col-xs-12 ptb90 pl100 equal-height">
                            <div class="tab-head table uppercase fsize-14 fweight-700">
                                <div class="table-cell valign-middle ws-20 color-1">
                                    New games action
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    Apr 25-27, 2018
                                </div>
                            </div>
                            <div class="uppercase fsize-32 fweight-700 font-agency color-white lheight-normal">
                                Fifal 2018
                            </div>
                            <div class="mt50 lheight-26 fweight-300">
                                <p>Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip
                                    pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip.</p>
                                <p>Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin.
                                    Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly
                                    chicken prosciutto biltong salami ham pancetta.</p>
                            </div>
                            <div class="mt60 table g-bottom">
                                <div class="table-cell valign-middle">
                                    <a href="single-game.html" class="btn gradient color-white plr60 ptb19">
                                        Read more
                                    </a>
                                </div>
                                <div class="rating table-cell valign-middle text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-img col-lg-6 col-md-12 col-sm-12 col-xs-12 pr0 equal-height">
                            <div class="image-bl">
                                <img class="game-full-img" src="{{ asset('build/images/game-slide-img-1.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in text-left clearfix" id="tab-item-2">
                        <div class="tab-info col-lg-6 col-md-12 col-sm-12 col-xs-12 ptb90 pl100 equal-height">
                            <div class="tab-head table uppercase fsize-14 fweight-700">
                                <div class="table-cell valign-middle ws-20 color-1">
                                    New games action
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    Apr 25-27, 2018
                                </div>
                            </div>
                            <div class="uppercase fsize-32 fweight-700 font-agency color-white lheight-normal">
                                Mix Combination
                            </div>
                            <div class="mt50 lheight-26 fweight-300">
                                <p>Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip
                                    pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip.</p>
                                <p>Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin.
                                    Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly
                                    chicken prosciutto biltong salami ham pancetta.</p>
                            </div>
                            <div class="mt60 table g-bottom">
                                <div class="table-cell valign-middle">
                                    <a href="single-game.html" class="btn gradient color-white plr60 ptb19">
                                        Read more
                                    </a>
                                </div>
                                <div class="rating table-cell valign-middle text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-img col-lg-6 col-md-12 col-sm-12 col-xs-12 pr0 equal-height">
                            <div class="image-bl">
                                <img class="game-full-img" src="{{ asset('build/images/game-slide-img-1.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in text-left clearfix" id="tab-item-3">
                        <div class="tab-info col-lg-6 col-md-12 col-sm-12 col-xs-12 ptb90 pl100 equal-height">
                            <div class="tab-head table uppercase fsize-14 fweight-700">
                                <div class="table-cell valign-middle ws-20 color-1">
                                    New games action
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    Apr 25-27, 2018
                                </div>
                            </div>
                            <div class="uppercase fsize-32 fweight-700 font-agency color-white lheight-normal">
                                Forza Jacson
                            </div>
                            <div class="mt50 lheight-26 fweight-300">
                                <p>Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip
                                    pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip.</p>
                                <p>Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin.
                                    Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly
                                    chicken prosciutto biltong salami ham pancetta.</p>
                            </div>
                            <div class="mt60 table g-bottom">
                                <div class="table-cell valign-middle">
                                    <a href="single-game.html" class="btn gradient color-white plr60 ptb19">
                                        Read more
                                    </a>
                                </div>
                                <div class="rating table-cell valign-middle text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-img col-lg-6 col-md-12 col-sm-12 col-xs-12 pr0 equal-height">
                            <div class="image-bl">
                                <img class="game-full-img" src="{{ asset('build/images/game-slide-img-1.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in text-left clearfix" id="tab-item-4">
                        <div class="tab-info col-lg-6 col-md-12 col-sm-12 col-xs-12 ptb90 pl100 equal-height">
                            <div class="tab-head table uppercase fsize-14 fweight-700">
                                <div class="table-cell valign-middle ws-20 color-1">
                                    New games action
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    Apr 25-27, 2018
                                </div>
                            </div>
                            <div class="uppercase fsize-32 fweight-700 font-agency color-white lheight-normal">
                                NO MAN’S SKY
                            </div>
                            <div class="mt50 lheight-26 fweight-300">
                                <p>Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip
                                    pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip.</p>
                                <p>Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin.
                                    Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly
                                    chicken prosciutto biltong salami ham pancetta.</p>
                            </div>
                            <div class="mt60 table g-bottom">
                                <div class="table-cell valign-middle">
                                    <a href="single-game.html" class="btn gradient color-white plr60 ptb19">
                                        Read more
                                    </a>
                                </div>
                                <div class="rating table-cell valign-middle text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-img col-lg-6 col-md-12 col-sm-12 col-xs-12 pr0 equal-height">
                            <div class="image-bl">
                                <img class="game-full-img" src="{{ asset('build/images/game-slide-img-1.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in text-left clearfix" id="tab-item-5">
                        <div class="tab-info col-lg-6 col-md-12 col-sm-12 col-xs-12 ptb90 pl100 equal-height">
                            <div class="tab-head table uppercase fsize-14 fweight-700">
                                <div class="table-cell valign-middle ws-20 color-1">
                                    New games action
                                </div>
                                <div class="table-cell valign-middle text-right">
                                    Apr 25-27, 2018
                                </div>
                            </div>
                            <div class="uppercase fsize-32 fweight-700 font-agency color-white lheight-normal">
                                NO MAN’S SKY 2
                            </div>
                            <div class="mt50 lheight-26 fweight-300">
                                <p>Andouille frankfurter hamburger, swine leberkas tenderloin cupim. Ground round ball tip
                                    pastrami, turducken chicken porchetta fatback frankfurter. Pig kielbasa jowl strip.</p>
                                <p>Steak sausage pork loin bacon tri-tip meatball shoulder cupim beef pork chop kevin boudin.
                                    Short loin pig meatball ham landjaeger pastrami. Drumstick ham hock chuck pork belly
                                    chicken prosciutto biltong salami ham pancetta.</p>
                            </div>
                            <div class="mt60 table g-bottom">
                                <div class="table-cell valign-middle">
                                    <a href="single-game.html" class="btn gradient color-white plr60 ptb19">
                                        Read more
                                    </a>
                                </div>
                                <div class="rating table-cell valign-middle text-right">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="tab-img col-lg-6 col-md-12 col-sm-12 col-xs-12 pr0 equal-height">
                            <div class="image-bl">
                                <img class="game-full-img" src="{{ asset('build/images/game-slide-img-1.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>