{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        section#error-page {
            height: 100vh;
            padding-top: 140px;
            min-height: 700px;
            background: url({{ error_background|default(asset('build/images/404/404-bg.jpg'))}});
            background-size: cover;
        }

        section#error-page .title-error {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            line-height: 27px;
            text-transform: uppercase;
        }

        section#error-page .error-content {
            color: #fff;
            font-size: 24px;
        }

        section#error-page .footer-line {
           height: 80px;
        }

        section#error-page .footer-line .error-footer {
            padding: 30px 0;
            background-color: #181728;
        }
    </style>
{% endblock %}

{% block body %}
    <!-- PRELOADER START -->
    <div class="loader-wrapper">
        <div class='cssload-loader'>
            <div class='cssload-inner cssload-one'></div>
            <div class='cssload-inner cssload-two'></div>
            <div class='cssload-inner cssload-three'></div>
        </div>
    </div>
    <!-- PRELOADER END -->

    <!-- HEADER START -->
    {% include '_shared/header.html.twig' %}

    <section id="error-page" class="table page-{{ error_page|default('500') }}">
        <div class="table-row">
            <div class="table-cell valign-middle text-center">
                <div>
                    <img src="{{ error_image|default('') }}" alt="">
                </div>
                <div class="title-error mt30">
                    {{ error_title|default('OOPS, SOMETHING WENT WRONG!') }}
                </div>
                <div class="error-content">
                    {{ error_content|default('') }}
                </div>
            </div>
        </div>
        <div class="footer-line table-row">
            <div class="error-footer table-cell valign-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            © Copyright 2018
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                            All Rights Reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

